table{
	margin: 30px auto;
	border: solid #C0C0C0;
}
tbody{
	background-color:#C0C0C0;
	border: solid #C0C0C0;
	border-collapse: collapse;
}
caption{
	background-color:#C0C0C0;
}
#Button{
	background:#C2C2C2;
	font-family:Arial;
	font-size:15px;
}
